.filter-wrapper {
    @include tablet {
        grid-column: 4 span;
    }

    @include small-tablet {
        grid-column: unset;
        display: none;

        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        width: 100vw;
        height: 100vh;

        background-color: rgba(#4A4B4D, 0.8);
    }

    grid-column: 3 span;
    grid-row: 3 span;
}

.filter-visible {
    display: block;
}

.filter {
    @include small-tablet {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        width: 280px;
    }

    @include flex-all-sb;
    flex-direction: column;
    min-height: 590px;

    background-color: var(--light-color);

    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px rgba(201, 198, 192, 0.50);

    &__btn-close {
        @include small-tablet {
            display: block;
            position: absolute;
            top: -42px;
            right: 0;

            & svg {
                width: 33px;
                height: 33px;

                fill: var(--light-color);
            }
        }

        display: none;
    }

    &__content {
        @include for-desktop {
            padding-right: 12px;
            padding-left: 15px;
        }

        @include small-tablet {
            padding-left: 24px;
            padding-right: 24px;
        }

        width: 100%;
        padding-top: 17px;
        padding-right: 19px;
        padding-bottom: 36px;
        padding-left: 21px;


        display: flex;
        flex-direction: column;
    }

    &__title {
        margin: 0;
        margin-bottom: 7px;

        font-size: 16px;
        font-weight: 700;
        color: var(--gravel-color);

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 8px;
    }

    &__btn-clear {
        height: 51px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        & span {
            font-size: 20px;
        }
    }
}

.checkbox-label {
    cursor: pointer;
    display: flex;
    align-items: center;

    font-size: 14px;
    color: var(--gravel-color);
}

.checkbox-input {
    margin-right: 7px;

    width: 16px;
    height: 16px;

    border-radius: 2px;
    background: #FFF;
    box-shadow: 0px 0px 9px 0px rgba(201, 198, 192, 0.5);

    transition: box-shadow 0.3s ease-in-out;

    @include hover {
        box-shadow: 0px 0px 9px 5px rgba(201, 198, 192, 0.5);
    }

    &:checked {
        background-image: url(../../img/svg/tick.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: fill;
    }
}