.footer {
    padding-top: 22px;
    padding-bottom: 31px;

    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    &__list {

        @include big-mobile {
            grid-column: 6 span;
        }

        @include mobile {
            margin-left: 10px;
            grid-column: 4 span;
        }

        grid-column: 3 span;

        font-size: 16px;
        line-height: 20px;
        color: #000000;

        &__item {
            &:first-child {
                margin-bottom: 8px;
                font-weight: 700;
            }

            &:not(:first-child) {
                margin-bottom: 5px;

                & a {
                    color: inherit;
                }
            }
        }
    }

    &__contacts-list {

        @include small-tablet {
            grid-column: 9 / 4 span;
        }

        @include big-mobile {
            margin-top: 18px;
            grid-column: 12 span;
        }
        @include mobile {
            grid-column: 8 span;
        }

        grid-column: 10 / 3 span;


        color: #000000;

        &__item {

            &:first-child {
                @include big-mobile {
                    text-align: center;
                }

                margin-bottom: 8px;

                font-weight: 700;
                font-size: 20px;
                line-height: 25px;
            }

            &:not(:first-child) {
                @include big-mobile {
                    justify-content: center;
                }

                margin-bottom: 10px;

                display: flex;
                align-items: center;

                & img {
                    margin-right: 7px;
                }

                & svg {
                    margin-right: 7px;
                    width: 16px;
                    height: 16px;
                }

                & div {
                    display: flex;
                    flex-direction: column;
                }

                & span {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }

    &__social-list {

        @include small-tablet {
            grid-column: 9 / 4 span;
            justify-content: start;
        }

        @include big-mobile {
            margin-top: 18px;
            grid-column: 12 span;
            justify-content: center;
        }

        @include mobile {
            grid-column: 8 span;
        }

        margin-bottom: 40px;
        grid-column: 10 / 3 span;
        display: flex;
        align-items: center;

        &__item {
            &:not(:last-child) {
                margin-right: 7px;
            }

            & a {
                position: relative;
                display: block;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: #444444;

                & svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 17px;
                    height: 17px;

                    fill: #fff;
                }
            }
        }
    }

    &__details {
        @include big-mobile {
            margin: 0 auto;
            margin-top: 18px;
            grid-column: 12 span;
            max-width: 280px;
            text-align: center;
        }

        @include mobile {
            grid-column: 8 span;
        }

        grid-column: 7 span;
        line-height: 20px;
    }

    &__policy {

        @include small-tablet {
            grid-column: 9 / 4 span;
        }

        @include big-mobile {
            margin: 0 auto;
            margin-top: 11px;
            grid-column: 12 span;
            max-width: 280px;
            text-align: center;
        }

        @include mobile {
            grid-column: 8 span;
        }

        grid-column: 10 / 3 span;
        line-height: 20px;
        text-decoration-line: underline;
        color: #000000;
    }
}