<section class="about">
    <div class="container grid">
        <ul class="list-reset breadcrumb breadcrumb_product">
            <li class="breadcrumb__item">Главная</li>
            <li class="breadcrumb__item">О нас</li>
        </ul>
        <h2 class="page-title about__page-title">О нас</h2>
        <article class="about__info">
            <div class="about__info__small-paragraph">
                <h4 class="about__info__title">Наша компания была основана в 1997 году</h4>
                <p>
                    Современный прямой диван «Лондон» сделан из качественной древесины, наполнителя и ткани, а усиленный
                    ламелями пружинный блок служит двойным ортопедическим матрасом, что обеспечит комфорт и удобство во
                    время сна или отдыха.
                </p>
                <p>
                    Удобные широкие мягкие подлокотники, украшенные декоративным кантом, делают эту модель изящной и
                    придадут комнате шарма и креативности.
                </p>
                <p>
                    Также предлагаем обратить внимание на просторную нишу в диване, в которой удобно хранить постельное
                    белье и она не будет лежать на поверхности. Наполнитель подушек дивана – холофайбер и ППУ.
                </p>
                <p>
                    Механизм ТИК-ТАК удобно трансформирует ваш диван в удобную кровать для сна.
                </p>
            </div>
            <div class="img-wrapper about__img-wrapper about__img-wrapper_first">
                <img src="img/about-1.png" alt="Категория">
            </div>
            <div class="about__info__big-paragraph">
                <p>
                    Современный прямой диван «Лондон» сделан из качественной древесины, наполнителя и ткани, а усиленный
                    ламелями пружинный блок служит двойным ортопедическим матрасом, что обеспечит комфорт и удобство во
                    время сна или отдыха.
                </p>
                <p>
                    Удобные широкие мягкие подлокотники, украшенные декоративным кантом, делают эту модель изящной и
                    придадут комнате шарма и креативности.
                </p>
                <p>
                    Также предлагаем обратить внимание на просторную нишу в диване, в которой удобно хранить постельное
                    белье и она не будет лежать на поверхности. Наполнитель подушек дивана – холофайбер и ППУ.
                </p>
                <p>
                    Механизм ТИК-ТАК удобно трансформирует ваш диван в удобную кровать для сна.
                </p>
            </div>
            <div class="img-wrapper about__img-wrapper">
                <img src="img/about-1.png" alt="Категория">
            </div>
            <div class="about__info__small-paragraph">
                <p>
                    Современный прямой диван «Лондон» сделан из качественной древесины, наполнителя и ткани, а усиленный
                    ламелями пружинный блок служит двойным ортопедическим матрасом, что обеспечит комфорт и удобство во
                    время сна или отдыха.
                </p>
                <p>
                    Удобные широкие мягкие подлокотники, украшенные декоративным кантом, делают эту модель изящной и
                    придадут комнате шарма и креативности.
                </p>
                <p>
                    Также предлагаем обратить внимание на просторную нишу в диване, в которой удобно хранить постельное
                    белье и она не будет лежать на поверхности. Наполнитель подушек дивана – холофайбер и ППУ.
                </p>
                <p>
                    Механизм ТИК-ТАК удобно трансформирует ваш диван в удобную кровать для сна.
                </p>
            </div>
            <div class="about__info__big-paragraph">
                <p>
                    Современный прямой диван «Лондон» сделан из качественной древесины, наполнителя и ткани, а усиленный
                    ламелями пружинный блок служит двойным ортопедическим матрасом, что обеспечит комфорт и удобство во
                    время сна или отдыха.
                </p>
                <p>
                    Удобные широкие мягкие подлокотники, украшенные декоративным кантом, делают эту модель изящной и
                    придадут комнате шарма и креативности.
                </p>
                <p>
                    Также предлагаем обратить внимание на просторную нишу в диване, в которой удобно хранить постельное
                    белье и она не будет лежать на поверхности. Наполнитель подушек дивана – холофайбер и ППУ.
                </p>
                <p>
                    Механизм ТИК-ТАК удобно трансформирует ваш диван в удобную кровать для сна.
                </p>
            </div>
        </article>
    </div>
</section>