<section class="catalog-section">
        <div class="title-with-link">
            <h2 class="title-with-link__title">
                Каталог
            </h2>
            <a href="catalog-page.html" class="title-with-link__link">
                <span>Все</span>
            </a>
        </div>
        <div class="catalog-section__list">
            <div class="catalog-section__item">
                <div class="img-wrapper catalog-section__item__img-wrapper">
                    <img src="img/category-1.png" alt="Категория">
                </div>
                <h4 class="catalog-section__item__title">Диваны</h4>
            </div>
            <div class="catalog-section__item">
                <div class="img-wrapper catalog-section__item__img-wrapper">
                    <img src="img/category-2.png" alt="Категория">
                </div>
                <h4 class="catalog-section__item__title">Диваны</h4>
            </div>
            <div class="catalog-section__item">
                <div class="img-wrapper catalog-section__item__img-wrapper">
                    <img src="img/category-3.png" alt="Категория">
                </div>
                <h4 class="catalog-section__item__title">Диваны</h4>
            </div>
            <div class="catalog-section__item">
                <div class="img-wrapper catalog-section__item__img-wrapper">
                    <img src="img/category-4.png" alt="Категория">
                </div>
                <h4 class="catalog-section__item__title">Диваны</h4>
            </div>
            <div class="catalog-section__item">
                <div class="img-wrapper catalog-section__item__img-wrapper">
                    <img src="img/category-1.png" alt="Категория">
                </div>
                <h4 class="catalog-section__item__title">Диваны</h4>
            </div>
        </div>
</section>