<section class="conditions">
    <div class="container grid">
        <ul class="list-reset breadcrumb breadcrumb_product">
            <li class="breadcrumb__item">Главная</li>
            <li class="breadcrumb__item">Условия работы</li>
        </ul>
        <h2 class="page-title conditions__page-title">Условия работы</h2>
        <button class="btn-reset btn-scroll btn-scroll_active">Общие условия</button>
        <button class="btn-reset btn-scroll">Доставка</button>
        <button class="btn-reset btn-scroll">Оплата</button>
        <button class="btn-reset btn-scroll">Самовывоз</button>
        <button class="btn-reset btn-scroll">Условия возврата мебели</button>
        <button class="btn-reset btn-scroll">Продление аренды мебели</button>
        <h4 class="conditions__list-title">Общие условия</h4>
        <ul class="list-reset conditions__list">
            <li class="conditions__list__item">
                Стоимость аренды рассчитывается:
            </li>
            <li class="conditions__list__item">
                – через Корзину на сайте при добавлении позиций в нужном количестве.
            </li>
            <li class="conditions__list__item">
                Доставка рассчитывается менеджером нашей компании после оформления заказа.
            </li>
            <li class="conditions__list__item">
                Мы работаем на основании счет-договора по предоплате 100%. Оплата заказа должна быть произведена не
                позднее чем
                за 2 дня до начала мероприятия.
            </li>
            <li class="conditions__list__item">
                Стоимость аренды рассчитывается на три дня.
            </li>
        </ul>
        <h4 class="conditions__list-title">Доставка</h4>
        <ul class="list-reset conditions__list">
            <li class="conditions__list__item">
                1. Стоимость доставки рассчитывается менеджером после добавления в корзину товаров и оформления заказа
                на сайте,
                из расчета объема мебели и адреса. Погрузка, разгрузка и расстановка мебели являются комплексной услугой
                и
                входят в стоимость.
            </li>
            <li class="conditions__list__item">
                2.Доставка осуществляется круглосуточно к определённому часу.
            </li>
            <li class="conditions__list__item">
                3.Точные данные о номерах машины и персонале на монтаже/демонтаже предоставляются накануне оказания
                услуги. Если
                вам необходимо предоставить данные заранее, менеджер отправит вам общие списки машин, водителей и
                грузчиков
                нашей компании.
            </li>
        </ul>
        <h4 class="conditions__list-title">Оплата</h4>
        <ul class="list-reset conditions__list">
            <li class="conditions__list__item">
                Мы работаем с физическими и юридическими лицами на основании счета-договора по предоплате. Заказ должен
                быть
                полностью оплачен не менее, чем за 2 дня до даты мероприятия.
            </li>
            <li class="conditions__list__item">
                При оформлении заказа вы можете выбрать любой удобный для вас способ оплаты:
            </li>
            <li class="conditions__list__item">
                ОПЛАТА ПО СЧЕТУ
            </li>
            <li class="conditions__list__item">
                При оформлении заказа направьте нам реквизиты вашей компании
            </li>
            <li class="conditions__list__item">
                ОПЛАТА БАНКОВСКОЙ КАРТОЙ
            </li>
            <li class="conditions__list__item">
                Оплата картой возможна только на сайте.
            </li>
        </ul>
        <h4 class="conditions__list-title">Самовывоз</h4>
        <h5 class="conditions__list-subtitle">
            Самовывоз осуществляется на основании счета-договора по предоплате 100%.
        </h5>
        <ul class="list-reset conditions__list">
            <li class="conditions__list__item">
                1. Вход/въезд на территорию осуществляется по пропускам.
            </li>
            <li class="conditions__list__item">
                2. Есть позиции, которые нельзя забрать самостоятельно. Детали и возможность самовывоза конкретных
                позиций можно уточнить у менеджера.
            </li>
            <li class="conditions__list__item">
                3. Ваш заказ вы можете забрать по адресу: г. Москва, ул. Вернисажная, д.6
            </li>
            <li class="conditions__list__item">
                4. При самовывозе взимается залог (обеспечительный платёж), который возвращается от 1 (одного) до 2
                (двух) рабочих дней в зависимости от формы оплаты. При получении заказа арендатор должен предъявить
                документы, удостоверяющие личность. Если заказ принимает уполномоченное арендатором лицо, необходимо
                предъявить доверенность и документ, удостоверяющий личность.
            </li>
            <li class="conditions__list__item">
                5. Арендатор осматривает мебель при получении и подписывает акт приема/возврата. В случае подписания
                документов без осмотра претензии не принимаются.
            </li>
            <li class="conditions__list__item">
                6. Для самовывоза необходимо обязательно создать заказ, чтобы товар был за вами зарезервирован.
            </li>
        </ul>
        <h4 class="conditions__list-title">Условия возврата мебели</h4>
        <ul class="list-reset conditions__list">
            <li class="conditions__list__item">
                1. Мебель необходимо вернуть в срок, указанный в договоре.
            </li>
            <li class="conditions__list__item">
                2. При сдаче мебели арендодателю должен присутствовать арендатор или уполномоченное им лицо с
                доверенностью и
                документом, удостоверяющим личность.
            </li>
            <li class="conditions__list__item">
                3. При выявлении арендодателем неучтенных повреждений мебели, а также ее недостачи, составляется акт
                порчи/утери
                и подписывается обеими сторонами.
            </li>
            <li class="conditions__list__item">
                4. На основании акта порчи/утери:
            </li>
        </ul>
        <h4 class="conditions__list-title">Продление аренды мебели</h4>
        <ul class="list-reset conditions__list">
            <li class="conditions__list__item">
                1. О продлении аренды мебели необходимо сообщить не менее, чем за 24 часа до окончания основного срока
                аренды по
                договору.
            </li>
            <li class="conditions__list__item">
                2. Продление аренды возможно только после подтверждения менеджером компании доступности выбранных
                позиций.
            </li>
            <li class="conditions__list__item">
                3. Продление аренды производится на основании счет-договора по предоплате 100%.
            </li>
            <li class="conditions__list__item">
                4. Если возврат не осуществлен своевременно и без согласования с менеджером, компания вправе удержать с
                арендатора до 100 % арендной платы за каждые сутки просрочки.
            </li>
        </ul>
        <button class="btn-reset main-btn btn-go-catalog">
            <a href="catalog-page.html">
                <span>Перейти в каталог</span>
            </a>
        </button>
    </div>
</section>