<div class="filter-wrapper">
    <div class="filter">
        <button class="btn-reset filter__btn-close">
            <svg>
                <use xlink:href="img/sprite.svg#cancel"></use>
            </svg>
        </button>
        <div class="filter__content">
            <h5 class="filter__title">Цвет</h5>
            <div class="color-list"></div>
            <h5 class="filter__title">Модель</h5>
            <div class="filter__list">
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="model">
                    Модель 1
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="model">
                    Модель 2
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="model">
                    Модель 3
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="model">
                    Модель 4
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="model">
                    Модель 5
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="model">
                    Модель 6
                </label>
            </div>
            <h5 class="filter__title">Материал</h5>
            <div class="filter__list">
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="material">
                    Материал 1
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="material">
                    Материал 2
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="material">
                    Материал 3
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="material">
                    Материал 4
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="material">
                    Материал 5
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="material">
                    Материал 6
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="material">
                    Материал 7
                </label>
            </div>
            <h5 class="filter__title">Форма</h5>
            <div class="filter__list">
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="shape">
                    Форма 1
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="shape">
                    Форма 2
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="shape">
                    Форма 3
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="shape">
                    Форма 4
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="shape">
                    Форма 5
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="shape">
                    Форма 6
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="shape">
                    Форма 7
                </label>
                <label class="checkbox-label">
                    <input class="input-reset checkbox-input" type="checkbox" name="shape">
                    Форма 8
                </label>
            </div>
        </div>
        <button class="btn-reset main-btn filter__btn-clear">
            <span>Очистить фильтр</span>
        </button>
    </div>
</div>