<footer class="footer">
  <div class="container">
    <img class="logo" src="img/logo.svg" alt="logo">
    <div class="footer__content grid">
      <ul class="list-reset footer__list">
        <li class="footer__list__item">Клиентам</li>
        <li class="footer__list__item"><a href="">Вопросы и ответы</a></li>
        <li class="footer__list__item"><a href="">Заказать обратный звонок</a></li>
        <li class="footer__list__item"><a href="">Заказать образцы тканей</a></li>
        <li class="footer__list__item"><a href="">Логистика</a></li>
        <li class="footer__list__item"><a href="">Самовывоз</a></li>
        <li class="footer__list__item"><a href="">Условия работы</a></li>
      </ul>
      <ul class="list-reset footer__list">
        <li class="footer__list__item">О компании</li>
        <li class="footer__list__item"><a href="">Контакты</a></li>
        <li class="footer__list__item"><a href="">Магазин</a></li>
        <li class="footer__list__item"><a href="">Наши преимущества</a></li>
        <li class="footer__list__item"><a href="">О нас</a></li>
        <li class="footer__list__item"><a href="">Отзывы</a></li>
        <li class="footer__list__item"><a href="">Портфолио</a></li>
      </ul>
      <ul class="list-reset footer__contacts-list">
        <li class="footer__contacts-list__item">Свяжитесь с нами</li>
        <li class="footer__contacts-list__item">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <span>
            +3 333 333 33 33
          </span>
        </li>
        <li class="footer__contacts-list__item">
          <img src="../img/svg/mail-black.svg">
          <span>
            test@gmail.com
          </span>
        </li>
        <li class="footer__contacts-list__item">
          <svg>
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <div>
            <span>
              Офис: 10:00-20:00
            </span>
            <span>
              Монтаж, доставка 24/7
            </span>
          </div>
        </li>
        <li class="footer__contacts-list__item">
          <svg>
            <use xlink:href="img/sprite.svg#location"></use>
          </svg>
          <span>
            г. Москва, тверская 10
          </span>
        </li>
      </ul>
      <ul class="list-reset footer__social-list">
        <li class="footer__social-list__item"><a href="">
          <svg>
            <use xlink:href="img/sprite.svg#instagram"></use>
          </svg>
        </a></li>
        <li class="footer__social-list__item"><a href="">
          <svg>
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a></li>
        <li class="footer__social-list__item"><a href="">
          <svg>
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a></li>
        <li class="footer__social-list__item"><a href="">
          <svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a></li>
      </ul>
      <span class="footer__details">ИП Климовицкий Алексей Михайлович ОГРН 316774600083339 ИНН 771987316540</span>
      <a class="footer__policy" href="">Политика конфиденциальности</a>
    </div>
  </div>
</footer>