<section class="gallery">
    <div class="container grid">
        <ul class="list-reset breadcrumb breadcrumb_product">
            <li class="breadcrumb__item">Главная</li>
            <li class="breadcrumb__item">Портфолио</li>
        </ul>
        <h2 class="page-title gallery__page-title">Портфолио</h2>
        <div class="gallery__list">
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/new-1.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-1.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-3.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-4.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/new-1.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-1.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-3.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-4.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/new-1.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-1.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-3.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-4.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/new-1.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-1.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-3.png" alt="Категория">
            </div>
            <div class="img-wrapper gallery__img-wrapper">
                <img src="img/category-4.png" alt="Категория">
            </div>
        </div>
    </div>
</section>