<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top__content grid">
        <ul class="list-reset info-list">
          <li class="info-list__item location">г. Москва, тверская 10</li>
          <li class="info-list__item email">test@gmail.com</li>
          <li class="info-list__item time">
            <span>Офис: 10:00-20:00</span>
            <span>Монтаж, доставка 24/7</span>
          </li>
          <li class="info-list__item phone">+3 333 333 33 33</li>
        </ul>
        <ul class="list-reset nav">
          <li class="nav__item"><a href="gallery-page.html">Портфолио</a></li>
          <li class="nav__item">
            <div class="header-top__popup">
              Клиентам
              <ul class="list-reset header-top__popup__list">
                <li class="header-top__popup__item"><a href="conditions-page.html">Условия работы</a></li>
                <li class="header-top__popup__item"><a href="logistic-page.html">Логистика</a></li>
                <li class="header-top__popup__item"><a href="pickup-page.html">Самовывоз</a></li>
                <li class="header-top__popup__item"><a href="">Вопросы и ответы</a></li>
                <li class="header-top__popup__item"><a href="">Заказать образцы тканей</a></li>
                <li class="header-top__popup__item"><a href="catalog-page.html">Каталог</a></li>
              </ul>
            </div>
          </li>
          <li class="nav__item"><a href="">Обратная связь</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="header-bottom__content">
        <div class="menu-wrapper">
          <div class="menu"></div>
          <span>Каталог</span>
          <div class="header-bottom__popup-wrapper">
            <div class="header-bottom__popup">
              <div class="header-bottom__popup__title">
                <button class="btn-reset btn-cross">
                  <svg>
                    <use xlink:href="img/sprite.svg#cross"></use>
                  </svg>
                </button>
                <img class="logo logo-tab" src="../img/logo-mob.svg" alt="logo">
              </div>
              <ul class="list-reset header-bottom__popup__list">
                <li class="header-bottom__popup__item first">
                  Мебель
                  <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                  </svg>
                </li>
                <li class="header-bottom__popup__item"><a href="">Стулья</a></li>
                <li class="header-bottom__popup__item"><a href="">Подушки на стулья</a></li>
                <li class="header-bottom__popup__item"><a href="">Мягкая мебель</a></li>
                <li class="header-bottom__popup__item"><a href="">Скамьи</a></li>
                <li class="header-bottom__popup__item"><a href="">Столы</a></li>
              </ul>
              <ul class="list-reset header-bottom__popup__list">
                <li class="header-bottom__popup__item first">
                  Посуда
                  <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                  </svg>
                </li>
                <li class="header-bottom__popup__item"><a href="">Тарелки</a></li>
                <li class="header-bottom__popup__item"><a href="">Бокалы</a></li>
                <li class="header-bottom__popup__item"><a href="">Столовые приборы</a></li>
              </ul>
              <ul class="list-reset header-bottom__popup__list">
                <li class="header-bottom__popup__item first">
                  Столовое белье
                  <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                  </svg>
                </li>
                <li class="header-bottom__popup__item"><a href="">Скатерти круглые</a></li>
                <li class="header-bottom__popup__item"><a href="">Скатерти прямоугольные</a></li>
                <li class="header-bottom__popup__item"><a href="">Салфетки</a></li>
                <li class="header-bottom__popup__item"><a href="">Кольца для салфеток</a></li>
                <li class="header-bottom__popup__item"><a href="">Раннеры</a></li>
                <li class="header-bottom__popup__item"><a href="">Ленты</a></li>
                <li class="header-bottom__popup__item"><a href="">Чехлы</a></li>
              </ul>
              <ul class="list-reset header-bottom__popup__list">
                <li class="header-bottom__popup__item first">
                  Другое
                  <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                  </svg>
                </li>
                <li class="header-bottom__popup__item"><a href="">Цветочные панно</a></li>
                <li class="header-bottom__popup__item"><a href="">Свечи</a></li>
                <li class="header-bottom__popup__item"><a href="">Пледы</a></li>
                <li class="header-bottom__popup__item"><a href="">Подсвечники</a></li>
              </ul>
              <ul class="list-reset nav header-bottom__popup__nav">
                <li class="nav__item"><a href="gallery-page.html">Портфолио</a></li>
                <li class="nav__item"><a href="">Клиентам</a></li>
                <li class="nav__item"><a href="">Обратная связь</a></li>
              </ul>
            </div>
          </div>
        </div>
        <a href="index.html">
          <img class="logo" src="img/logo.svg" alt="logo">
          <img class="logo logo-mob" src="img/logo-mob.svg" alt="logo">
        </a>
        <div class="header-bottom__interactive">
          <div class="search-wrapper">
            <input class="input-reset input-search" type="text" placeholder="Поиск">
          </div>
          <a href="" class="link-profile">
            <img src="img/profile.svg" alt="profile">
          </a>
          <a href="product-page.html" class="link-cart">
            <img src="img/cart.svg" alt="cart">
          </a>
        </div>
      </div>
    </div>
  </div>
</header>