<section class="logistic">
    <div class="container grid">
        <ul class="list-reset breadcrumb breadcrumb_product">
            <li class="breadcrumb__item">Главная</li>
            <li class="breadcrumb__item">Логистика</li>
        </ul>
        <h2 class="page-title logistic__page-title">Логистика</h2>
        <h3 class="logistic__subtitle">Ответы на часто задаваемые вопросы</h3>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Что входит в «Логистику» (доставка, монтаж, демонтаж, вывоз, глажка текстиля)?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    В чем преимущества нашей «Логистики»?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Как получить расчет стоимости нашей «Логистики»?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Какую информацию попросит менеджер для расчета стоимости?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Есть ли минимальная стоимость аренды для заказа услуги «Логистика»?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Кто оплачивает платную парковку?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Как получить списки людей и машин нашей компании?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Требуется ли схема расстановки мебели и оборудования?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Кто должен принимать и возвращать мебель, оборудование, декор?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Что делать при обнаружении дефектов при приемке мебели, оборудования, декора до подписания акта приема?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Что делать, если мебель, оборудование, декор был поврежден на мероприятии?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Нужен ли залог?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                Доставим, сделаем монтаж (разгрузим, распакуем, установим и расставим, погладим банкетный текстиль).
                После окончания мероприятия сделаем демонтаж (разберем, упакуем, загрузим и увезём).
            </p>
        </div>
        <div class="img-wrapper logistic__img-wrapper">
            <img src="img/about-1.png" alt="Категория">
        </div>
        <div class="img-wrapper logistic__img-wrapper">
            <img src="img/about-1.png" alt="Категория">
        </div>
        <button class="btn-reset main-btn btn-go-catalog">
            <a href="catalog-page.html">
                <span>Перейти в каталог</span>
            </a>
        </button>
    </div>
</section>