<section class="new-section">
    <div class="title-with-link">
        <h2 class="title-with-link__title">
            Новинки
        </h2>
        <a href="" class="title-with-link__link">
            <span>Все</span>
        </a>
    </div>
    <div class="new-section__list">
        <div class="swiper-wrapper">
            <div class="swiper-slide product-item">
                <div class="product-item__hit-label">
                    <span>хит</span>
                </div>
                <div class="product-item__img-wrapper">
                    <img class="product-item__img" src="img/new-1.png" alt="Категория">
                </div>
                <p class="product-item__descr">
                    Кресло Челси без оттоманки натуральный
                </p>
                <p class="product-item__price">19 999 ₽</p>
                <button class="btn-reset product-item__btn-add">
                    <svg>
                        <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                    <span>Добавить</span>
                </button>
            </div>
            <div class="swiper-slide product-item">
                <div class="product-item__img-wrapper">
                    <img class="product-item__img" src="img/category-1.png" alt="Категория">
                </div>
                <p class="product-item__descr">
                    Кресло Челси без оттоманки натуральный
                </p>
                <p class="product-item__price">19 999 ₽</p>
                <button class="btn-reset product-item__btn-add">
                    <svg>
                        <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                    <span>Добавить</span>
                </button>
            </div>
            <div class="swiper-slide product-item">
                <div class="product-item__img-wrapper">
                    <img class="product-item__img" src="img/category-3.png" alt="Категория">
                </div>
                <p class="product-item__descr">
                    Кресло Челси без оттоманки натуральный
                </p>
                <p class="product-item__price">19 999 ₽</p>
                <button class="btn-reset product-item__btn-add">
                    <svg>
                        <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                    <span>Добавить</span>
                </button>
            </div>
            <div class="swiper-slide product-item">
                <div class="product-item__img-wrapper">
                    <img class="product-item__img" src="img/new-1.png" alt="Категория">
                </div>
                <p class="product-item__descr">
                    Кресло Челси без оттоманки натуральный
                </p>
                <p class="product-item__price">19 999 ₽</p>
                <button class="btn-reset product-item__btn-add">
                    <svg>
                        <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                    <span>Добавить</span>
                </button>
            </div>
            <div class="swiper-slide product-item">
                <div class="product-item__img-wrapper">
                    <img class="product-item__img" src="img/category-1.png" alt="Категория">
                </div>
                <p class="product-item__descr">
                    Кресло Челси без оттоманки натуральный
                </p>
                <p class="product-item__price">19 999 ₽</p>
                <button class="btn-reset product-item__btn-add">
                    <svg>
                        <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                    <span>Добавить</span>
                </button>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>