<section class="logistic">
    <div class="container grid">
        <ul class="list-reset breadcrumb breadcrumb_product">
            <li class="breadcrumb__item">Главная</li>
            <li class="breadcrumb__item">Самовывоз</li>
        </ul>
        <h2 class="page-title logistic__page-title">Самовывоз</h2>
        <h3 class="logistic__subtitle">Ответы на часто задаваемые вопросы</h3>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Что входит в Самовывоз (загрузка, разгрузка)?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                При получении крупногабаритного заказа загрузим мебель, оборудование в машину. После возврата
                крупногабаритного заказа разгрузим. При самовывозе сотрудники склада только загружают. Распределение и
                крепление мебели, оборудования производит ответственное лицо при получении.
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    В чем преимущества Самовывоза?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                При получении крупногабаритного заказа загрузим мебель, оборудование в машину. После возврата
                крупногабаритного заказа разгрузим. При самовывозе сотрудники склада только загружают. Распределение и
                крепление мебели, оборудования производит ответственное лицо при получении.
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Как получить расчет стоимости при Самовывозе?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                При получении крупногабаритного заказа загрузим мебель, оборудование в машину. После возврата
                крупногабаритного заказа разгрузим. При самовывозе сотрудники склада только загружают. Распределение и
                крепление мебели, оборудования производит ответственное лицо при получении.
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Нужен ли залог?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                При получении крупногабаритного заказа загрузим мебель, оборудование в машину. После возврата
                крупногабаритного заказа разгрузим. При самовывозе сотрудники склада только загружают. Распределение и
                крепление мебели, оборудования производит ответственное лицо при получении.
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Какие сроки возврата залога?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                При получении крупногабаритного заказа загрузим мебель, оборудование в машину. После возврата
                крупногабаритного заказа разгрузим. При самовывозе сотрудники склада только загружают. Распределение и
                крепление мебели, оборудования производит ответственное лицо при получении.
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Где находится склад?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                При получении крупногабаритного заказа загрузим мебель, оборудование в машину. После возврата
                крупногабаритного заказа разгрузим. При самовывозе сотрудники склада только загружают. Распределение и
                крепление мебели, оборудования производит ответственное лицо при получении.
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Есть ли схема проезда к вашему складу?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                При получении крупногабаритного заказа загрузим мебель, оборудование в машину. После возврата
                крупногабаритного заказа разгрузим. При самовывозе сотрудники склада только загружают. Распределение и
                крепление мебели, оборудования производит ответственное лицо при получении.
            </p>
        </div>
        <div class="answer">
            <div class="answer__top">
                <h5 class="answer__title">
                    Требуется ли личное присутствие для получения/возврата заказа?
                </h5>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </div>
            <p class="answer__text">
                При получении крупногабаритного заказа загрузим мебель, оборудование в машину. После возврата
                крупногабаритного заказа разгрузим. При самовывозе сотрудники склада только загружают. Распределение и
                крепление мебели, оборудования производит ответственное лицо при получении.
            </p>
        </div>
        <div class="img-wrapper logistic__img-wrapper">
            <img src="img/about-1.png" alt="Категория">
        </div>
        <div class="img-wrapper logistic__img-wrapper">
            <img src="img/about-1.png" alt="Категория">
        </div>
        <button class="btn-reset main-btn btn-go-catalog">
            <a href="catalog-page.html">
                <span>Перейти в каталог</span>
            </a>
        </button>
    </div>
</section>