<div class="place-plus-sort">
    <div class="place-plus-sort__pos">
        <ul class="list-reset breadcrumb">
            <li class="breadcrumb__item">Главная</li>
            <li class="breadcrumb__item">Диваны</li>
        </ul>
        <h2 class="place-plus-sort__title">Диваны</h2>
    </div>
    <button class="btn-reset place-plus-sort__btn-filter">
        <span>Фильтр</span>
        <svg>
            <use xlink:href="img/sprite.svg#filter"></use>
        </svg>
    </button>
    <div class="place-plus-sort__select-wrapper">
        <input class="input-reset place-plus-sort__select" type="text" placeholder="Сортировать по" readonly>
        <img src="img/arrow-in-circle.png">
    </div>
</div>