<div class="product-list">
    <div class="product-item catalog_product-item">
        <div class="product-item__hit-label">
            <span>хит</span>
        </div>
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/new-1.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
    <div class="product-item catalog_product-item">
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/category-1.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
    <div class="product-item catalog_product-item">
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/category-3.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
    <div class="product-item catalog_product-item">
        <div class="product-item__hit-label">
            <span>хит</span>
        </div>
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/new-1.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
    <div class="product-item catalog_product-item">
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/category-1.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
    <div class="product-item catalog_product-item">
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/category-3.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
    <div class="product-item catalog_product-item">
        <div class="product-item__hit-label">
            <span>хит</span>
        </div>
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/new-1.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
    <div class="product-item catalog_product-item">
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/category-1.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
    <div class="product-item catalog_product-item">
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/category-3.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
    <div class="product-item catalog_product-item">
        <div class="product-item__hit-label">
            <span>хит</span>
        </div>
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/new-1.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
    <div class="product-item catalog_product-item">
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/category-1.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
    <div class="product-item catalog_product-item">
        <div class="img-wrapper product-item__img-wrapper">
            <img src="img/category-3.png" alt="Категория">
        </div>
        <p class="product-item__descr">
            Кресло Челси без оттоманки натуральный
        </p>
        <p class="product-item__price">19 999 ₽</p>
        <button class="btn-reset main-btn product-item__btn-add">
            <svg>
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <span>Добавить</span>
        </button>
    </div>
</div>