<section class="product">
    <div class="container grid">
        <ul class="list-reset breadcrumb breadcrumb_product">
            <li class="breadcrumb__item">Главная</li>
            <li class="breadcrumb__item">Диваны</li>
            <li class="breadcrumb__item">Диван "Дорис №1"</li>
        </ul>
        <div class="preview-wrapper">
            <div class="product__preview">
                <div class="img-wrapper product__img-wrapper">
                    <img src="img/category-1.png" alt="Категория">
                </div>
                <div class="product__swiper-wrapper">
                    <div class="product__swiper">
                        <button class="btn-reset btn-prev">
                            <svg>
                                <use xlink:href="img/sprite.svg#arrow-up"></use>
                            </svg>
                        </button>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide img-wrapper product__img-wrapper">
                                <img src="img/category-1.png" alt="Категория">
                            </div>
                            <div class="swiper-slide img-wrapper product__img-wrapper">
                                <img src="img/category-1.png" alt="Категория">
                            </div>
                            <div class="swiper-slide img-wrapper product__img-wrapper">
                                <img src="img/category-1.png" alt="Категория">
                            </div>
                            <div class="swiper-slide img-wrapper product__img-wrapper">
                                <img src="img/category-1.png" alt="Категория">
                            </div>
                            <div class="swiper-slide img-wrapper product__img-wrapper">
                                <img src="img/category-1.png" alt="Категория">
                            </div>
                            <div class="swiper-slide img-wrapper product__img-wrapper">
                                <img src="img/category-1.png" alt="Категория">
                            </div>
                        </div>
                        <button class="btn-reset btn-next">
                            <svg>
                                <use xlink:href="img/sprite.svg#arrow-up"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="page-title product__title">Диван "Дорис №1"</h2>
        <div class="product__info">
            <div class="product__first-price">
                <span>Цена за сутки</span>
                <span>600 ₽</span>
            </div>
            <div class="product__second-price">
                <span>Цена со вторых суток</span>
                <span>300 ₽</span>
            </div>
            <h4 class="product__part-title">Доступные цветовые варианты</h4>
            <div class="color-list product__color-list"></div>
            <div class="counter-wrapper">
                <button class="btn-reset counter__btn-dec">-</button>
                <span class="counter">2</span>
                <button class="btn-reset counter__btn-inc">+</button>
            </div>
            <button class="btn-reset main-btn product__btn-add">
                <svg>
                    <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                <span>Добавить в корзину</span>
            </button>
            <h4 class="product__part-title">Характеристики</h4>
            <ul class="list-reset product__characteristics">
                <li class="product__char">
                    <span>Тип</span>
                    <span>Диван раскладной</span>
                </li>
                <li class="product__char">
                    <span>Материал</span>
                    <span>Дерево</span>
                </li>
                <li class="product__char">
                    <span>Максимальная нагрузка</span>
                    <span>160 кг</span>
                </li>
                <li class="product__char">
                    <span>Страна производитель</span>
                    <span>Польша</span>
                </li>
                <li class="product__char">
                    <span>Ширина</span>
                    <span>170 см</span>
                </li>
                <li class="product__char">
                    <span>Цвет</span>
                    <span>Белый</span>
                </li>
            </ul>
            <h4 class="product__part-title">Описание</h4>
            <div class="product__desc">
                <p>
                    Современный прямой диван «Лондон» сделан из качественной древесины, наполнителя и ткани, а усиленный
                    ламелями пружинный блок служит двойным ортопедическим матрасом, что обеспечит комфорт и удобство во
                    время сна или отдыха. Удобные широкие мягкие подлокотники, украшенные декоративным кантом, делают
                    эту
                    модель изящной и придадут комнате шарма и креативности. Также предлагаем обратить внимание на
                    просторную
                    нишу в диване, в которой удобно хранить постельное белье и она не будет лежать на поверхности.
                    Наполнитель подушек дивана – холофайбер и ППУ. Механизм ТИК-ТАК удобно трансформирует ваш диван в
                    удобную кровать для сна.
                </p>
                <p>
                    Современный прямой диван «Лондон» сделан из качественной древесины, наполнителя и ткани, а усиленный
                    ламелями пружинный блок служит двойным ортопедическим матрасом, что обеспечит комфорт и удобство во
                    время сна или отдыха. Удобные широкие мягкие подлокотники, украшенные декоративным кантом, делают
                    эту
                    модель изящной и придадут комнате шарма и креативности. Также предлагаем обратить внимание на
                    просторную
                    нишу в диване, в которой удобно хранить постельное белье и она не будет лежать на поверхности.
                    Наполнитель подушек дивана – холофайбер и ППУ. Механизм ТИК-ТАК удобно трансформирует ваш диван в
                    удобную кровать для сна.
                </p>
            </div>
            <button class="btn-reset btn-descr">
                Читати повністю
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </button>
            <div class="product__review">
                <h4 class="product__part-title">Отзывы</h4>
                <div class="product__rating">
                    <ul class="list-reset product__stars">
                        <li class="product__star">
                            <svg>
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="product__star">
                            <svg>
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="product__star">
                            <svg>
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="product__star">
                            <svg>
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="product__star">
                            <svg>
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </li>
                    </ul>
                    <span>5 отзывов</span>
                </div>
            </div>
        </div>
    </div>
    <section class="new-section">
        <div class="title-with-link">
            <h2 class="title-with-link__title">
                С этим товаром выбирают
            </h2>
            <a href="" class="title-with-link__link">
                <span>Все</span>
            </a>
        </div>
        <div class="new-section__list">
            <div class="swiper-wrapper">
                <div class="swiper-slide product-item">
                    <div class="product-item__hit-label">
                        <span>хит</span>
                    </div>
                    <div class="product-item__img-wrapper">
                        <img class="product-item__img" src="img/new-1.png" alt="Категория">
                    </div>
                    <p class="product-item__descr">
                        Кресло Челси без оттоманки натуральный
                    </p>
                    <p class="product-item__price">19 999 ₽</p>
                    <button class="btn-reset  main-btn product-item__btn-add">
                        <svg>
                            <use xlink:href="img/sprite.svg#cart"></use>
                        </svg>
                        <span>Добавить</span>
                    </button>
                </div>
                <div class="swiper-slide product-item">
                    <div class="product-item__img-wrapper">
                        <img class="product-item__img" src="img/category-1.png" alt="Категория">
                    </div>
                    <p class="product-item__descr">
                        Кресло Челси без оттоманки натуральный
                    </p>
                    <p class="product-item__price">19 999 ₽</p>
                    <button class="btn-reset main-btn product-item__btn-add">
                        <svg>
                            <use xlink:href="img/sprite.svg#cart"></use>
                        </svg>
                        <span>Добавить</span>
                    </button>
                </div>
                <div class="swiper-slide product-item">
                    <div class="product-item__img-wrapper">
                        <img class="product-item__img" src="img/category-3.png" alt="Категория">
                    </div>
                    <p class="product-item__descr">
                        Кресло Челси без оттоманки натуральный
                    </p>
                    <p class="product-item__price">19 999 ₽</p>
                    <button class="btn-reset main-btn product-item__btn-add">
                        <svg>
                            <use xlink:href="img/sprite.svg#cart"></use>
                        </svg>
                        <span>Добавить</span>
                    </button>
                </div>
                <div class="swiper-slide product-item">
                    <div class="product-item__img-wrapper">
                        <img class="product-item__img" src="img/new-1.png" alt="Категория">
                    </div>
                    <p class="product-item__descr">
                        Кресло Челси без оттоманки натуральный
                    </p>
                    <p class="product-item__price">19 999 ₽</p>
                    <button class="btn-reset main-btn product-item__btn-add">
                        <svg>
                            <use xlink:href="img/sprite.svg#cart"></use>
                        </svg>
                        <span>Добавить</span>
                    </button>
                </div>
                <div class="swiper-slide product-item">
                    <div class="product-item__img-wrapper">
                        <img class="product-item__img" src="img/category-1.png" alt="Категория">
                    </div>
                    <p class="product-item__descr">
                        Кресло Челси без оттоманки натуральный
                    </p>
                    <p class="product-item__price">19 999 ₽</p>
                    <button class="btn-reset main-btn product-item__btn-add">
                        <svg>
                            <use xlink:href="img/sprite.svg#cart"></use>
                        </svg>
                        <span>Добавить</span>
                    </button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
</section>